//- media:right:bottom
div.media
  div.media-body
    p oh it is just common p.
    p oh it is just common p.
    p oh it is just common p.
    h3.media-heading Here Is Media Heading(h3) 
    p oh it is just common p.
    p oh it is just common p.
    p oh it is just common p.
    p oh it is just common p.
  div.media-right.media-bottom
    a(alt="yes,it was." href="/which/way/to/x")
      img.media-object(src="/images/dot64x64.png" alt="it is computer-made picture")
