//- media:left:top
div.media
  div.media-left.media-top
    a(alt="yes,it was." href="/which/way/to/x")
      img.media-object(src="/images/dot64x64.png" alt="it is computer-made picture")
  div.media-body
    p oh it is just common p.
    p oh it is just common p.
    p oh it is just common p.
    h3.media-heading Here Is Media Heading(h3) 
    p oh it is just common p.
    p oh it is just common p.
    p oh it is just common p.
    p oh it is just common p.
