//- as "fan ye"
nav(aria-label="fanye")
  ul(class="pager")
    li
      a(href="#home" data-toggle="tab")
        span(aria-hidden="true") &larr;
        |  Older
    li
      a(href="#settings" data-toggle="tab")
        | Newer 
        span(aria-hidden="true") &rarr;
