//- as "fan ye"
nav(aria-label="fanye")
  ul(class="pager")
    li(class="previous")
      a(href="#")
        span(aria-hidden="true") &larr;
        |  Older
    li(class="next")
      a(href="#")
        | Newer 
        span(aria-hidden="true") &rarr;
