nav(aria-label="fanye")
  ul(class="pager")
    li(class="previous")
      a(data-toggle="tab")
        span(aria-hidden="true") &larr;
        | 前一页 
    li(class="next")
      a(data-toggle="tab")
        | 后一页 
        span(aria-hidden="true") &rarr;
