.DS_Store
nohup.out
temp/
tmp
.temp
.tmp
*.rdb
*.aof
sqlitedb/*.db
sqlitedb/*.sql
sqlitedb/*.sqlite
sqlitedb/*.sqlite3
tickets/
node_modules/
package-lock*
lock-log*
*.log
credentials/
*.data
configs/
public/uploads
public/audioes
staticify/
share/fonts/
coffees/staticify-*
public/staticifyjs/
views/staticify/v4.pug
!public/uploads/sample.jpg
!configs/rule-for-daka.js
!share/fonts/readme
