doctype html
html 
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
  meta(name="keywords" content="fake to project check eviroment")
  head
    link(href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon")/
    link(rel="stylesheet" href="/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="/bootstrap/open-iconic/css/open-iconic-bootstrap.min.css")
    script(src="/jquery.min.js")
    script(src="/bootstrap/popper.min.js")
    script(src="/bootstrap/bootstrap.min.js")
    title= title || "template title"
    style.
      body{margin:1.3em;}
    block pagecss
  body
    block content
    block footer
    block pagejs
