doctype html
html 
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
  meta(name="keywords" content="fake to project check eviroment")
  head
    link(href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon")/
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")/
    script(src="/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    title= title || "template title"
    block pagecss
  body
    block content
    block footer
    block pagejs
