extends ../layouts/main
block pagejs
  script(src="/pagejs/glossary/pagejs-glossary-add.js")
block content
  h2 glossary add item form
  if fields
    form(action='',method="POST" class="form-horizontal")
      each field in fields
        .form-group
          if field.widget === 'textarea'
            label(for= "id_" + field.field_name,class= "col-sm-2 control-label")= field.field_name
            
            .col-sm-10.col-sm-offset-2
              textarea(rows="8",cols="100",name= field.field_name,placeholder="input " + field.field_name,id="id_" + field.field_name)
          else
            label(for= "id_" + field.field_name,class= "col-sm-2 control-label")= field.field_name
            .col-sm-10
              input(class="form-control",type= field.input_type,name= field.field_name,id="id_" + field.field_name) 
      br
      br
      .form-group
        .col-sm-offset-2.col-sm-10
          button(class="btn btn-default btn-lg") Submit!
