extends ../layouts/main
block pagejs
  script(src="/pagejs/glossary/pagejs-glossary-update.js")
block content
  h2 Glossary:Update Id:<mark>#{item.id}</mark> 
  if fields
    form(action='',method="POST" class="form-horizontal")
      .form-group
        label(class="col-sm-2 control-label" for="id_id") id number
        .col-sm-10
          p#id_id.form-control-static= item.id 
      each field in fields
        .form-group
          if field.widget === 'textarea'
            label(for= "id_" + field.field_name,class= "col-sm-2 control-label")= field.field_name
            
            .col-sm-10.col-sm-offset-2
              textarea(class="required" rows="8",cols="100",name= field.field_name,id="id_" + field.field_name,data-old= item[field.field_name],placeholder= item[field.field_name])
          else
            label(for= "id_" + field.field_name,class= "col-sm-2 control-label")= field.field_name
            .col-sm-10
              input(class="form-control" type= field.input_type,name= field.field_name,id="id_" + field.field_name,value= item[field.field_name]) 
      br
      br
      .form-group
        .col-sm-offset-2.col-sm-10
          button(type="submit" class="btn btn-default btn-lg") Update
