// .alert-warning will display box-background as light yellow,you can use .alert-success .alert-danger .alert-info...
div.alert.alert-warning
  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;
  H3 Here Is Where Your Alert Message Goes! 

