button(class="btn btn-default" type="button" data-toggle="collapse" data-target="#idstartswithsybol") 
  span(class="glyphicon glyphicon-chevron-down")
div.collapse#idstartswithsybol
  div.well
    I have a pen,i have an apple,ohnm,apple pen
