ul(class="nav nav-pills")
  li(role="presentation" class="active" aria-label="nav-menu")
    a(href="#") Action
  li(role="presentation"  aria-label="nav-menu")
    a(href="#") Another Action
  li(role="presentation" class="dropdown")
    a(class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
      |Dropdown 
      span.caret
    ul(class="dropdown-menu")
      li
        a(href="#") sub-menu-1
      li
        a(href="#") sub-menu-2
      li.disabled
        a(href="#") sub-menu-3
      li.divider(role="separator")
      li
        a(href="#") sub-menu-4
      li
        a(href="#") sub-menu-5
