//
  basic
  it is a striped table.
table.table.table-striped.table-bordered
  tr
    th date
    th event
    th result
  tr
    td 2014-3-7
    td do action 1
    td good
  tr
    td 2014-3-8
    td do action 2 
    td good
  tr
    td 2014-3-8
    td do action 3 
    td good
  tr
    td 2014-3-9
    td do action 4 
    td good
  tr
    td 2014-3-9
    td do action 4 
    td good
  tr
    td 2014-3-9
    td do action 4 
    td good
  tr
    td 2014-3-10
    td do action 5 
    td.warning bad
  
