//-
  .media
  .media-left
  .media-middle
  .media-right
  .media-heading
  .media-body
  
div.media
  div.media-left.media-middle
    a(href= "/any-thing-can-visits")
       img(class="media-object" src="/images/dot64x64.png" alt="bolka dot")
  div(class="media-body")
    h3(class="media-heading") Media heading
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
    p common talk about p common talk about p common talk about 
  div.media-right.media-middle
     a(href="/what-is-flying-with-you")
       img(class="media-object" src="/images/dot64x64.png" alt="bolka dot")
