extend layouts/main
//- its route is:'/admin/login
block content
  h1 admin login
  if auth_session
    h1 you authentication is alive
  else
    form(action="/admin/login" method="POST" id="loginform")
      //- "referrer" variable from res.locals.referrer which from session.referrer.if session.referrer isnt assignment,"referrer" is null("" as string type) 
      input(type="hidden",value=referrer,name="itisreferrer") 
      .form-group
        label(for="idAlias") Admin Account(Name):
        input(type="text" name="alias"  id="idAlias" class="form-control")
      .form-group
        label(for="password") Admin Password: 
        input(type="password" name="password" class="form-control")
      button.btn.btn-default(type="submit") Authenticate Now 
block pagejs
  script(src="/mine/mine-admin-login.js")


