extend layouts/main
block pagejs
  script(src="/pagejs/pagejs-createModal.js")
  script(src="/mine/mine-admin-checkout-daka.js")
block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      a(href="/" role="button" type="button" class="navbar-left navbar-btn btn btn-default")
        |&larr; 返回首页
    
  br/
  br/
  h4 设置筛选条件
  h4 并按下<small>列出!</small>按钮 
  .container-fluid
    form.horizontal-form
      .form-group
        label(class="col-xs-5") User: 
          select(name="user" class="form-control")
            each alias in aliases
              option #{alias} 
        label(class="col-xs-7") Range:
          select(name="range" class="form-control")
            option 15 days 
            option 1 month 
            option 6 month 
            option 1 year 
            option 2 years 
      .form-group
        .col-xs-4
          button.btn.btn-default.btn-lg(type="submit")  列出!
  table.table.table-striped
    thead
      tr
        td
          label 用户  
        td
          label category 
        td
          label timestamp 
        td
          label self/admin 
        td
          label 详细
    tbody
