extend layouts/main
block content
  nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top
    a(type="button" class="btn btn-default" href="/") 回到首页
  br/
  br/  
  h1 Admin DaKa
  div#pngbox
    div(class="row well")
      div(class="col-sm-8 col-md-6")
        div(class="thumbnail")
          //- img(src="/images/pix64x64.png" alt="a sample picture")
          img(src="/images/serve.png" alt="a sample picture")
        div(class="caption")
  hr/
  div#container
    ol#msgbox
block pagejs
  script(src="/socket.io/socket.io.js")
  script(src="/mine/mine-admin-daka.js")

