extend layouts/main
block content
  form(action="",method="POST",id="changepasswordform")
    .form-group
      label(for="idAlias") Admin Account(Name):
      input(type="text" name="alias"  id="idAlias" class="form-control")
    .form-group
      label(for="oldpassword") Admin Old Password: 
      input(id="oldpassword" type="password" name="oldpassword" class="form-control")
    .form-group
      label(for="newpassword") Admin Password: 
      input(id="newpassword" type="password" name="newpassword" class="form-control")
    button.btn.btn-default(type="submit") change admin password! 
