extend layouts/main
block content
  h1 Admin Login Successful
  nav
    ul.pager
      li.previous
        a(href="/") <span>&larr;</span> Back Index Page 
      li.next
        a(href="/admin/daka") go to DaKa <span>&rarr;</span>
