extend layouts/main.pug
block content
  h1 easti site welcome you,here is index page
  // img(src="/create-qrcode?text=onetwothreego!" width="58%")
  h2 check socketio features.
  div#messagebox
block footer
  button#trigger.btn.btn-default Trigger Commerce
  h4 all right reserved by ..
  h4 2007~2018
block pagejs
  script(src="/socket.io/socket.io.js")
  script(src="/mine/mine-socket-daka.js")
