doctype html
html(lang="en") 
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1.0")
  meta(name="keywords" content="fake to project check eviroment")
  meta(name="description" content="site skills contains ajax socketio auto-route")
  
  head
    link(href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    script(src="/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="http://127.0.0.1:1118/socket.io/socket.io.js")
    //--public/mine/mine-createModal.js
    script(src="/mine/mine-createModal.js")
    title= title || "template title"
    block pagecss
  body
    block content
      h1 Socket.IO lesson
    block footer
      h1 Socket.IO lesson
    block pagejs
      script(src="/mine/io/mine-firsthello.js")
