extend layouts/main
block content
  h1= "Select Tickets Range"
  form(action="/admin/dynamic-indexes" method="POST")
    .form-group
      label(for="idStart") Number Of Start: 
      input(type="number" name="start"  id="idStart" class="form-control")
    .form-group
      label(for="idEnd") Number of End: 
      input(type="number" name="end" class="form-control")
    button.btn.btn-default(type="submit") Search! 
