extends layouts/main.pug
block pagejs
  script(src="/mine/io/newioclient.js")
block content
  h2 new io client (sample)
  h4 my boot css learning working.
  span.pull-right
    | goes to right corner
  .container
    .row
      .col-sm-offset-1.col-sm-4
        |begin text:
    .row
      .col-sm-4
        span.glyphicon.glyphicon-glasses
      .col-sm-8
        | at the End::
