extend layouts/main
block content  
  h2 button.js show
  button.minimal(data-accept-text="shift anything") init-text
  button(class="btn btn-primary" id="id1" data-accept-text="please be patience..") Do-It 
block pagejs
  script(src="/mine/mine-button.js")
