extend layouts/main
//- its route is:'/admin/login
block content
  form(action="/superuser/login" method="POST" id="loginform")
    input(class="d-none" name="itisreferrer" value=referrer )
    .form-group
      h2.form-control-static Super User
    .form-group
      label(for="password") Password: 
      input(type="password" name="password" class="form-control")
    button.btn.btn-secondary(type="submit") Authenticate Now 
  
