extend layouts/main
block content
  h1 Super User Login Successful
  nav
    ul.pager
      li.previous
        a(href="/") <span>&larr;</span> Back DaKa Index Page 
      li.next
        a(href="/superuser/list-admins") List Administrators <span>&rarr;</span>
