extend layouts/main
block pagejs
  script(src="/pagejs/pagejs-create-alert-box.js")
  script.
    // defines a coviental method,to create a new form.
    // 写一个重头方法在此，原先的做法是放在public/mine/或是pagejs里。
    var new_form = function(n){ //n is a number(Integer)
      $form = $('<form/>',{'class':'form-horizontal'});
      // group1 include input:alias,group2 includes options（radio),
      // group3,4 include 进场出场时间
      $group1 = $('<div/>',{'class':'form-group'});
      $label1 = $('<label/>',{'class':'col-xs-5','text':'Alias Name'});
      $row1 = $('<div/>',{'class':'col-xs-7'});
      // input:alias 
      $input1 = $('<input/>',{'class':'input-lg form-control',name:'alias' + n,placeholder:'User Alias..'});
      // group1 component
      $group1.append($label1);
      $row1.append($input1);
      $group1.append($row1);
      $form.append($group1);
      // group 2 
      $group2 = $('<div/>',{'class':'form-group'});
      $left = $('<div/>',{'class':'col-xs-2'}); 
      $middle = $('<div/>',{'class':'col-xs-2'}); 
      $right = $('<div/>',{'class':'col-xs-2'}); 
      $label_option1 = $('<label/>',{text:'仅进场  '});
      $option1= $('<input/>',{'type':'radio','name': 'combo' + n ,value:'option1'});
      $label_option2 = $('<label/>',{text:'仅出场  '});
      $option2= $('<input/>',{'type':'radio','name':'combo' + n ,value:'option2'});
      $label_option3 = $('<label/>',{text:'进场 & 出场  '});
      $option3= $('<input/>',{'checked':'1','type':'radio','name':  'combo' + n ,value:'option3'});
      // component group 2
      $label_option1.append($option1);
      $left.append($label_option1);
      $label_option2.append($option2);
      $middle.append($label_option2);
      $label_option3.append($option3);
      $right.append($label_option3);
      $group2.append($left);
      $group2.append($middle);
      $group2.append($right);
      // group3 includes label3 and input3(进场时间)
      $group3 = $('<div/>',{'class':'form-group'});
      $label3 = $('<label/>',{'class':'col-xs-5','text':'进场时间'});
      $row3 = $('<div/>',{'class':'col-xs-7'});
      $input3 = $('<input/>',{'class':'form-control',name:'first-half-'+ n,placeholder:'进场时间..'});
      // group 3: second-half-N
      $group3.append($label3);
      $row3.append($input3);
      $group3.append($row3);
      // group4 includes input:出场时间 
      $group4 = $('<div/>',{'class':'form-group'});
      $label4 = $('<label/>',{'class':'col-xs-5','text':'出场时间'});
      $row4 = $('<div/>',{'class':'col-xs-7'})
      $input4 = $('<input/>',{'class':'form-control',name:'second-half-'+ n,placeholder:'出场时间..'});
      // component group4
      $group4.append($label4);
      $row4.append($input4);
      $group4.append($row4);
      //group 5: buttons.
      $group5 = $('<div/>',{'class':'btn-group btn-group-lg'});
      $resetbutton = $('<button/>',{'class':'btn btn-default','text':'Reset','type':'reset'});
      $deletebutton = $('<button/>',{'class':'btn btn-danger','text':'Delete'});
      $morebutton = $('<button/>',{'class':'btn btn-default more',text:'more+'});
      // component group5
      $group5.append($resetbutton); 
      $group5.append($deletebutton); 
      $group5.append($morebutton); 
      
      // at last,component all.
      $form.append($group1);
      $form.append($group2);
      $form.append($group3);
      $form.append($group4);
      $form.append($group5);
      $form.append('<br/>');
      $form.append('<br/>');
      $form.append('<hr/>');
      return $form;
    }
  script(src="/mine/mine-superuser-daka-complement.js")
block content
  h1 Super User Complement DaKa Page
  div#container
    //- this button not include in the form.
    button.btn.btn-success.btn-block#total-submit Submit
  div#msg
