extends layouts/alt
block pagejs
  script(src="/pagejs/alpha/pagejs-jujubi.js")
block content
  h2 media-tab-data-toggle
  div.tab-content
    div(role="tabpanel" class="active mine tab-pane fade in" id="p1")
      .media
        .media-left.media-middle
          a(href="/ju/ti/de/difang" alt="yeah") 
            img(class='media-object' src="/images/flops-thumb.jpg")
        .media-body
          h2.media-heading 第一章 箭人的前世今生
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
    div(role="tabpanel" class="mine fade tab-pane" id="p2")
      .media
        .media-left.media-middle
          a(href="/ju/ti/de/difang" alt="yeah") 
            img(class='media-object' src="/images/flops-thumb.jpg")
        .media-body
          h2.media-heading 第二章 共同的调调
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
    div(role="tabpanel" class="mine tab-pane fade" id="p3") 
      .media
        .media-left.media-middle
          a(href="/ju/ti/de/difang" alt="yeah") 
            img(class='media-object' src="/images/flops-thumb.jpg")
        .media-body
          h2.media-heading 第三章 立太子风波骤起
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
     
    div(role="tabpanel" class="tab-pane mine fade" id="p4") 
      .media
        .media-left.media-middle
          a(href="/ju/ti/de/difang" alt="yeah") 
            img(class='media-object' src="/images/flops-thumb.jpg")
        .media-body
          h2.media-heading 第四章大团圆
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...
          p has jianjina jian jin ian...

  a(href="#" alt="wu liao")
    |wu liao de 
    span(class="label label-default") jj-kk
   
  include widgets/nav-type/wenzhong.pug
 
block pagecss 
  style.
    .mine{
      width:500px;
      height:500px; 
      text-align:center;
      border:2px solid purple;
    }
