extends layouts/main
block content
  h1 德声收音机供电方式共有五种
  .panel.panel-default
    .panel-heading total 5
    .panel-body
      ul
        li 3xbatter(1.5v)
        li 1xSolidBatt
        li DC 4.5v
        li USB suppulit <span class="label label-success">New</span>
        li manually support
  div.outter!= snippet
    
