extend layouts/main
block content
  .panel.panel-warning
    .panel-heading
      h1 Login Failure!
    .panel-body
      p Error: <ins>  #{reason} </ins>
  nav
    ul.pager
     li.previous
       a(href="/user/login") <span>&larr;</span> back to authentication
