extend layouts/main
//- its route is:'/user/login
block content
  h1 User Login
  form(action="/user/login" method="POST" id="loginform")
    //- "referrer" variable from res.locals.referrer which from session.referrer.if session.referrer isnt assignment,"referrer" is null("" as string type) 
    input(type="hidden" name="itisreferrer" value=referrer)
    .form-group
      label(for="idAlias") User Account(Name):
      input(type="text" name="alias"  id="idAlias" class="form-control")
    .form-group
      label(for="password") User Password: 
      input(type="password" name="password" class="form-control")
    button.btn.btn-default(type="submit") Authenticate Now 
