extend layouts/main
block content
  h2.user.code(data-user=user,data-code=code) [Response] #{user} #{status}
  nav
    ul.pager
      li
        a(href="/") 回到首页 
block pagejs
  script(src='/socket.io/socket.io.js')
  script(src="/mine/mine-user-daka-response.js")
  
