extend layouts/main
//- route:'/user/daka'
block content
  nav.navbar.navbar-defautl.navbar-inverse.navbar-fixed-top
    a(href="/" type="button" class="btn btn-default") 回到首页
  br/
  br/
  h1(class="text-center") 打卡APP 内部使用 
  h1(id="box" class="text-center" data-alias= alias) 打卡人:#{alias} 
  p 按下相应按钮申请打卡，扫描管理机上的二维码，完成打卡。 
  - if(mode==0){
    button(id="entry" class="btn-block btn-default btn") Entry(入场)
    br/
    br/
    button(id="exit" class="btn-block btn-default btn" disabled="true") Exit(出场)
  - }
  - else if(mode == 1){
    button(id="entry" class="btn-block btn-default btn" disabled="true") Entry(入场)
    button(id="exit" class="btn-block btn-default btn") Exit(出场)
  - }else{
    button(id="entry" disabled="true" class="btn-default btn-block btn") Entry(入场)
    button(id="exit" disabled="true" class="btn-default btn btn-block") Exit(出场)
    h4.text-center.text-danger 用户 #{alias} 今日的打卡已关闭.
  - }
  ol#box
block pagejs
  script(src="/socket.io/socket.io.js")
  script(src="/mine/mine-user-daka.js")
