extend layouts/main
block content
  h1 Fill This Form For Login
  form(id="account_form" action="/fill-account" method="POST")
    .form-group
      label(for="idAlias") name:
      input(type="text" name="alias"  id="idAlias" class="form-control")
    .form-group
      label(for="idCode") Code: 
      input(type="text" name="code" class="form-control")
    .form-group
      label(for="password") Password: 
      input(type="password" name="password" class="form-control")
    button.btn.btn-default(type="submit") Submit
    

    
