nav.navbar.navbar-inverse.navbar-fixed-bottom
  .container-fluid
    .navbar-heading
      // brand
      img(class="navbar-brand" src="/images/bn.png" alt="this is bootstrap brand logo")
      // Toggle of Collapse Nav Bar 
      button(class="navbar-toggle collapsed" type="button" data-target="#theselinks" data-toggle="collapse")
        span(class="icon-bar") 
        span(class="icon-bar") 
        span(class="icon-bar") 

    div(class="navbar-collapse collapse" id="theselinks" 
      a(href="#" class="navbar-brand") Link1
      a(href="#" class="navbar-brand")  Link2
      a(href="#" class="navbar-brand") Link3
      //- first link
