extend ../layouts/main
block pagejs 
  script(src="/pagejs/alpha/pagejs-alpha-can-redirect.js")
block content
  a(href="" role="button" class="btn btn-primary" alt="you see!" id="yesido") you see!
  div#container currently no content received!
  a(href="/alpha/canredirect" role="button" class="btn btn-success" alt="will be redirect" id="top") redirect to successful page 
