extends ../layouts/main.pug
block content 
  h2 the words means i am a truth of man
  p my poem is soft green,my poem is..
  p my poem is soft green,my poem is..
  p my poem is soft green,my poem is..
  p my poem is soft green,my poem is..
  p my poem is soft green,my poem is..
  button#ajaxbutton i am ajax button
  dl#one
block pagejs
  script(src="/pagejs/alpha/pagejs-getJSON.js")
