extends ../layouts/main
block content
  .panel.panel-default
    .panel-heading
      h1 Headding
    .panel-body
      p long long ago..
      p this story about love,truth,earth and..
      p ....
      p dong dong dong dong dong dong p dong dong dong dong dong dong p dong dong dong dong dong dong
      p dong dong dong dong dong dong p dong dong dong dong dong dong p dong dong dong dong dong dong
      p dong dong dong dong dong dong p dong dong dong dong dong dong p dong dong dong dong dong dong
      p dong dong dong dong dong dong p dong dong dong dong dong dong p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p dong dong dong dong dong dong
      p how much it includes?  
      p dong dong dong dong dong dong p dong dong dong dong dong dong p dong dong dong dong dong dong
      p dong dong dong dong dong dong p dong dong dong dong dong dong p dong dong dong dong dong dong
       
    include ../widgets/model-basic-table.pug
    
