extend ../layouts/main
block content 
  div#article1.collapse.well
    p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well
    p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well
    p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well
    p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well p div.article1.well
  div#article2.well.collapse
    h4 i am article 2
    p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1
    p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1
    p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1
    p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1
    p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1 p it is article 1
  include ./s-navbar
  include ./s-collapse
