extend ../layouts/main
block pagecss
  style.
    .yellow {
      border:1px solid yellow;
    }    
    .purple {
      border:1px solid purple;
    }    
block content
  h2 在这里愉快地玩弄着bootstrap4
  //- comment not within
  // it is comment,be displayed in html codes.
  div.purple.d-inline-flex.p-2
    | I'm a flexbox container!
  div.yellow.ml-4.d-inline-flex.p-2
    | (Too)I'm a flexbox container!
  div.border.bd-highlight.mx-auto.d-flex.p-4.flex-row-reverse
    p.text-align-right 我们不一样！ 
