nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a(class="navbar-brand" href="/admin/visits-base-tickets") 最常访问 
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#supportedcontent")
    span(class="oi oi-menu")
  div.collapse.navbar-collapse(id="supportedcontent")
    form.form-inline(method="POST" action="/admin/ticket-details/" id="search_form")
      .input-group
        .input-group-prepend
          span.input-group-text Input Ticket Id
        input(type="text" name="ticket_id" class="form-control")
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/admin/create-new-ticket") create-new-ticket 
      li.nav-item.dropdown
        a(class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown") 按Range列表 
        div.dropdown-menu
          a.dropdown-item(href="/admin/dynamic-indexes?start=-100&end=-1") last 1~100 
          a.dropdown-item(href="/admin/dynamic-indexes?start=-200&end=-99") last 101~200 
          .dropdown-divider
          small(id="helptext" class="form-text text-muted")
            | 输入范围（数字）
          form(action="/admin/dynamic-indexes" method="POST" id="yousee")
            .input-group.mb-3
              span.input-group-prepend.mx-2 From:   
        
              input.form-control.mr-sm-2(id="idstart" type="number" name="start")
            .input-group.mb-3
              span.input-group-prepend.mx-2 To:    
              input.form-control.mr-sm-2(id="idend" type="number" name="end")
        
  
            button.btn.mx-3.btn-outline-success(type="submit") List Now! 
      li.nav-item.dropdown
        a(class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown") 分类浏览
        div.dropdown-menu
          a.dropdown-item(href="/admin/category-of-tickets/memo") Memo-Tickets
          a.dropdown-item(href="/admin/category-of-tickets/tool") Tool-Tickets
          a.dropdown-item(href="/admin/category-of-tickets/problem") Promblem-Tickets
          .dropdown-divider
          a.dropdown-item(href='/admin/full-tickets' alt='full tickets') Full Tickets
      li.nav-item
        a.nav-link(href="/no-staticify") 音频节目 
      li.nav-item
        a.nav-link(href="/admin/login") Account 
