.row
  div.col-sm-6.col-md-4
    .thumbnail
      img(src="/images/flops-thumb.jpg" alt="show this image please")
      div(class="caption")
        h3 Thumbnail label
        p say something else...
        p
          a(href="#" class="btn btn-primary" role="button") Button1
          a(href="#" class="btn btn-default" role="button") Button2
  div.col-sm-6.col-md-4
    .thumbnail
      img(src="/images/flops-thumb.jpg" alt="show this image please")
      div(class="caption")
        h3 Thumbnail label
        p say something else...
        p
          a(href="#" class="btn btn-primary" role="button") Button1
          a(href="#" class="btn btn-default" role="button") Button2
