ul(class="list-group")
  li(class="list-group-item") Cras justo odio <span class="badge">42</span>
  li( class="list-group-item") Dapibus ac facilisis in
  li( class="list-group-item") Morbi leo risus
  li( class="list-group-item list-group-item-info") Morbi leo risus
  li( class="list-group-item") Porta ac consectetur ac
  li( class="list-group-item") Vestibulum at eros
  li( class="disabled list-group-item") Vestibulum at eros
