extends ../layouts/main
block pagejs
  script(src="/pagejs/readingjournals/pagejs-readingjournals-add.js")
block content
  .panel.panel-default
    .panel-heading zhong guo fu li cai piao 
    .panel-body
      h2 pei tao hua zhun jiu
  div.outter!= snippet
    
