extends ../layouts/alt
block pagecss
  style.
    .solid-box {
      width:254px;
      height:400px;
      border:4px solid purple;
    }
block content
  div.pull-left.solid-box
    h2 one
    h4 one block here
    p one block here
    p one block here
    p one block here
    p one block here
    p one block here
    p one block here
  div.pull-left.solid-box
    h2 two(#2)
    h4 one block here
    p one block here
    p one block here
    p one block here
    p one block here
    p one block here
    p one block here
  div.pull-left.solid-box
    h2 three #3
    h4 one block here
    p one block here
    p one block here
    p one block here
    p one block here
    p one block here
    p one block here
